RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://pendaftaran-admin.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pendaftaran-admin.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pendaftaran.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pendaftaran.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pkm.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pkm.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://statistika.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://statistika.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tugas.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tugas.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pendaftaran-admin.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pendaftaran-admin.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pendaftaran.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pendaftaran.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pkm.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pkm.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.statistika.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.statistika.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tugas.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tugas.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pendaftaran-admin.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pendaftaran-admin.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pendaftaran.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pendaftaran.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pkm.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pkm.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://statistika.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://statistika.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tugas.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tugas.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pendaftaran-admin.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pendaftaran-admin.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pendaftaran.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pendaftaran.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pkm.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pkm.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tugas.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tugas.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portofolio.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portofolio.ukmkamus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portofolio.ukmkamus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portofolio.ukmkamus.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

